
<div class="mt-4">
<a class="btn link-primary" href="/users">Views List User</a>

</div>
<div class="mt-4">
  <a class="btn link-primary"  href="/login">Login</a>
</div>

<div class="mt4">
  <a class="btn link-primary"  href="/signup">Create New User</a>
</div>

<div class="mt-4">
  <a class="btn link-primary" href="/logout" >Logout</a>
</div>