
<div class="mt-4">
<a class="btn link-primary" href="/users">Views List User</a>

</div>
<div class="mt-4">
  <a class="btn link-primary"  href="/login">Login</a>
</div>

<div class="mt4">
  <a class="btn link-primary"  href="/signup">Create New User</a>
</div>

<div class="mt4">
  <a class="btn link-primary"  href="/logout">Logout</a>
</div>

<h1 id="h1" style="text-align: center;word-wrap: break-word"></h1>
<script>
{{#if user}} 
const h1 = document.getElementById('h1')
let i = 0
let text = `Xin chào {{user.name}} ! Hiện Website đang phát triển nên token chỉ có hạn sử dụng trong 5phút hết 5phút bạn hãy đăng nhập lại để sử dụng các chức năng nhé !`
  function nhapText() {
     if(i <= text.length) {
        h1.textContent += text.charAt(i)
        i++
        setTimeout(nhapText, 50)
        
     }
  }
  nhapText()
  {{/if}}
</script>