
<div class="mt-4">
<a class="btn link-primary" href="/users">Views List User</a>

</div>
<div class="mt-4">
  <a class="btn link-primary"  href="/login">Login</a>
</div>

<div class="mt4">
  <a class="btn link-primary"  href="/signup">Create New User</a>
</div>

<div class="mt4">
  <a class="btn link-primary"  href="/logout">Logout</a>
</div>

{{if user}}
  <div class="container mt-4" style="text-align: center">
    <h1>Message</h1>
    <p id="text"></p>
  </div>
  {{/if}}
<script>
 {{if user}}
const p = document.getElementById('text')
let i = 0
let text = `Đây là 1 blog cá nhân hiện đang phát triển để có thêm nhiều chức năng mới như: (nhắn tin trực tuyến , xem số ca mắc covid-19, lên lịch hẹn đá bóng, ...) Tôi mong sẽ thực hiện được sớm nhất có thể ! Nhưng hiện giờ vẫn đang trong giai đoạn thiết kế giao diện nên mong {{user.name}} thông cảm nhé ^^ !`
  function nhapText() {
     if(i <= text.length) {
        p.textContent += text.charAt(i)
        i++
        setTimeout(nhapText, 50)
        
     }
  }
  nhapText()
  {{/if}}
</script>
